<div style="width: 100%; height: 100%;" class="center-align">
    <mat-card [formGroup]="form" class="card center-align" style="width: 50%;">
        <mat-form-field style="width: 60%;">
            <input formControlName="userName" matInput placeholder="Username" required>
        </mat-form-field>
        <mat-form-field style="width: 60%;">
            <input formControlName="name" matInput placeholder="Name" required>
        </mat-form-field>
        <mat-form-field style="width: 60%;">
            <input formControlName="email" matInput placeholder="Email" required>
        </mat-form-field>
        <mat-form-field style="width: 60%;">
            <input formControlName="orgName" matInput placeholder="Organization Name" required>
        </mat-form-field>
        <mat-form-field style="width: 60%;">
            <textarea formControlName="aboutMe" matInput required placeholder="About Me"></textarea>
        </mat-form-field>
        <mat-form-field style="width: 60%;">
            <input formControlName="password" matInput placeholder="Password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </mat-card>
</div>