.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-new-account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}